<div class='row'>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Sign Up</h3>
                <hr />
                <div class="mb-3">
                    <label htmlFor="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="e.g. Jon Deo" [(ngModel)]="regInfo.name" />
                </div>
                <div class="mb-3">
                    <label htmlFor="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="e.g. name@example.com" [(ngModel)]="regInfo.email" />
                </div>
                <div class="mb-3">
                    <label htmlFor="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="regInfo.password" />
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-primary w-25" (click)="registerUser()">Signup</button>
                    <div class="d-flex justify-content-center mt-3">
                        <p>Already have an account?</p>
                        <a routerLink='/login' class='ms-2'>
                            <p>Login</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>